<%include partials/header%>
<style>
	body
	{
		
		  background: url(http://photoboothbus.com/wp-content/uploads/2015/02/photo-booth-bus-rental-utah-background.jpg) no-repeat center center fixed; 
		  height:100%;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	}
</style>
<div class="container about_page">
	<div class="row">
	  <div class="col-md-12">
	  	<h1 id="about" class="title text-center">About <span>Your Bus</span></h1>
<p class=" text-center" style="background-color:#33334d">Primary Online Bus Information Platform in Odisha</p>
						<div class="space"></div>
						<div class="row">
							<div class="col-md-6 ">
								<div class="space"></div>
							</div>
							<div class="col-md-6">
								<div style="color:Black; font-weight:bold">
								<p>Founded in 2018 in Bhubaneswar, India,YourBus connects various cities across the state with just a click of a button.</p>
								<p>YourBus has revolutionized the bus information industry by bringing together over 2,00 bus operators covering over many routes across the state and cities.</p>
							</div>
								<ul class="list-unstyled">
									<div style="color:Black; font-weight:bold">
										<li><i class="fa fa-caret-right pr-10 text-colored"></i>YourBus provides bus travellers, the most uncomplicated and hassle-free searching of private buses.</li>
										<li><i class="fa fa-caret-right pr-10 text-colored"></i> Choose your destination, and source, view the timings,be available at the bus stop!</li>
										<li><i class="fa fa-caret-right pr-10 text-colored"></i> A dedicated 24*7 customer-care team is available to cater to all the queries and needs while they are on-the- go.</li>
										<li><i class="fa fa-caret-right pr-10 text-colored"></i>  We aim at changing the dynamics of manual and cumbersome  process of booking bus tickets. </li>
										<li><i class="fa fa-caret-right pr-10 text-colored"></i> We are the most reliable online portal, where you will be able to see the timings of advent of buses.</li>
									</div>
								</ul>
							</div>
						</div>
						</div>
						</div>
</div>



<%include partials/footer%>