<div>
<%include ./partials/header%>    
</div>

<form action="/new" method="post">
    <div>
        <input type="text" name="busName" place="enter bus name">
    </div>
    <div>
        <input type="text" name="busName" place="From">
    </div>
    <div>
        <input type="text" name="busName" place="To">
    </div>
    <div>
        <input type="time" name="busName" place="time">
    </div>
    <button type="submit">Save</button>
    
</form>
<%include ./partials/footer%>