<%include ./partials/header%>
<style>
 body
 {
  background: url(http://deskbg.com/i/c/750x422/wpp/6/6492/volkswagen-kombi-red-desktop-background.jpg) no-repeat center center fixed; 
		  height:100%;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
 }
i
{
 color:green;
 font-size:300px;
}
.success
{
 		  font-size:30px;
}
</style>
<div class="container text-center success" style="margin-top:15%;">
 <h1 style=" color:white;">
  <i class="fas fa-check"></i>
  <br>
  Successfully done!
</h1>   
</div>
<%include ./partials/footer%>