<%include ./partials/header%>
<style>
	body
	{
		/*background:url(https://images.pexels.com/photos/385998/pexels-photo-385998.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);*/
		     /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
</style>
<div class="footersection">
				<div class="container">
					<h1 class="title text-center" id="contact"></h1>
					<div class="space"></div>
					<div class="row">
						<h3 class="large text-center">Meet the <span>Team!</span></h3>
					</div>
					<div class="space"></div>
					<div style="background-color: rgba(0, 0, 0, 0.1); padding: 30px; border-radius: 10px">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-4 text-center">
									<div class="image-container">
										<img src="images/srinibas.jpeg">
									</div>
									<div class="items">
										<a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
										<a class="googleplus" href="#"><i class="fab fa-google-plus"></i></a>
										<a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="image-container">
										<img src="images/alisha2.jpg">
									</div>
									<div class="items">
										<a class="facebook" href="#"><i class="fab fa-facebook"></i></li></a>
										<a class="googleplus" href="#"><i class="fab fa-google-plus"></i></a>
										<a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="image-container">
										<img src="images/aisurya.jpg">
									</div>
									<div class="items">
										<a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
										<a class="googleplus" href="#"><i class="fab fa-google-plus"></i></a>
										<a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="space"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-4 text-center">
									<div class="image-container">
										<img src="images/rahul_agrawal.jpg">
									</div>
									<div class="items">
										<a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
										<a class="googleplus" href="#"><i class="fab fa-google-plus"></i></li></a>
										<a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="image-container">
										<img src="images/suman.jpg">
									</div>
									<div class="items">
										<a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
										<a class="googleplus" href="#"><i class="fab fa-google-plus"></i></a>
										<a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="image-container">
										<img src="images/hemraj.jpeg">
									</div>
									<div class="items">
										<a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
										<a class="googleplus" href="#"><i class="fab fa-google-plus"></i></a>
										<a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>
						

					</div>
					<div class="space"></div>
					<div class="text-center">
						<h3 class="large text-center">For further information mail us.</h3>
					</div>
					
</div>
</div>

<%include partials/footer%>
